// Declaration Mixin
@mixin reset-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

// Declaration Mixin
@mixin circle($dimensions) {
	border-radius: 50%;
	width: $dimensions;
	height: $dimensions;
}

// Declaration Mixin
@mixin centering {
	display: flex;
	justify-content: center;
	align-items: center;
}
