@mixin list-reset {
	padding: 0;
	margin: 0;
	list-style: none;
}
@mixin circle($dimensions) {
	border-radius: 50%;
	width: $dimensions;
	height: $dimensions;
}
@mixin centering {
	display: flex;
	justify-content: center;
	align-items: center;
}

// Create Media Queries Mixin

@mixin breakpoints($device) {
	@if $device == mobile {
		@media (max-width: 767px) {
			@content;
		}
	} @else if $device == small {
		@media (min-width: 768px) and (max-width: 991px) {
			@content;
		}
	} @else if $device == medium {
		@media (min-width: 992px) and (max-width: 1199px) {
			@content;
		}
	} @else if $device == large {
		@media (min-width: 1200px) {
			@content;
		}
	}
}
