.parent {
	& + .sibling {
		margin: auto {
			top: 10px;
		}
		& ~ .last {
			padding: 10px;
		}
	}
}
//  &  + .sibling  =>  .parent + .sibling
// 	& ~ .last => .sibling ~ .last
// 	margin: auto { top: 10px; }  =>  margin: auto ; margin-top:10px;
// .parent + .sibling { margin: auto ; margin-top:10px; }
// .parent + .sibling ~ .last { padding:10px; }
