@use "sass/helpers/mixins" as *;

$names: "books" 20px red 18, "games" 30px green 18, "dvds" 20px blue;

@each $name, $padding, $color, $font in $names {
	@if $font == null {
		$font: 16;
	}
	.#{$name} {
		padding: $padding;
		font-size: $font * 1px;
		border-bottom: 2px solid $color;
		color: #444;
	}
}
