.page-1 {
  font-size: 21px;
}

.page-2 {
  font-size: 22px;
}

.page-3 {
  font-size: 23px;
}

.page-4 {
  font-size: 24px;
}

.page-5 {
  font-size: 25px;
}

.page-6 {
  font-size: 26px;
}

.page-7 {
  font-size: 27px;
}

.page-8 {
  font-size: 28px;
}

.page-9 {
  font-size: 29px;
}

.page-10 {
  font-size: 30px;
}

.page-11 {
  font-size: 31px;
}

.page-12 {
  font-size: 32px;
}

.page-13 {
  font-size: 33px;
}

.page-14 {
  font-size: 34px;
}

.page-15 {
  font-size: 35px;
}

.page-16 {
  font-size: 36px;
}

.page-17 {
  font-size: 37px;
}

.page-18 {
  font-size: 38px;
}

.page-19 {
  font-size: 39px;
}

.page-20 {
  font-size: 40px;
}

.page-21 {
  font-size: 41px;
}

.page-22 {
  font-size: 42px;
}

.page-23 {
  font-size: 43px;
}

.page-24 {
  font-size: 44px;
}

.page-25 {
  font-size: 45px;
}

.page-26 {
  font-size: 46px;
}

.page-27 {
  font-size: 47px;
}

.page-28 {
  font-size: 48px;
}

.page-29 {
  font-size: 49px;
}

.page-30 {
  font-size: 50px;
}

.page-31 {
  font-size: 51px;
}

.page-32 {
  font-size: 52px;
}

.page-33 {
  font-size: 53px;
}

.page-34 {
  font-size: 54px;
}

.page-35 {
  font-size: 55px;
}

.page-36 {
  font-size: 56px;
}

.page-37 {
  font-size: 57px;
}

.page-38 {
  font-size: 58px;
}

.page-39 {
  font-size: 59px;
}

.page-40 {
  font-size: 60px;
}

.page-41 {
  font-size: 61px;
}

.page-42 {
  font-size: 62px;
}

.page-43 {
  font-size: 63px;
}

.page-44 {
  font-size: 64px;
}

.page-45 {
  font-size: 65px;
}

.page-46 {
  font-size: 66px;
}

.page-47 {
  font-size: 67px;
}

.page-48 {
  font-size: 68px;
}

.page-49 {
  font-size: 69px;
}

.page-50 {
  font-size: 70px;
}

.page-51 {
  font-size: 71px;
}

.page-52 {
  font-size: 72px;
}

.page-53 {
  font-size: 73px;
}

.page-54 {
  font-size: 74px;
}

.page-55 {
  font-size: 75px;
}

.page-56 {
  font-size: 76px;
}

.page-57 {
  font-size: 77px;
}

.page-58 {
  font-size: 78px;
}

.page-59 {
  font-size: 79px;
}

.page-60 {
  font-size: 80px;
}

.page-61 {
  font-size: 81px;
}

.page-62 {
  font-size: 82px;
}

.page-63 {
  font-size: 83px;
}

.page-64 {
  font-size: 84px;
}

.page-65 {
  font-size: 85px;
}

.page-66 {
  font-size: 86px;
}

.page-67 {
  font-size: 87px;
}

.page-68 {
  font-size: 88px;
}

.page-69 {
  font-size: 89px;
}

.page-70 {
  font-size: 90px;
}

.page-71 {
  font-size: 91px;
}

.page-72 {
  font-size: 92px;
}

.page-73 {
  font-size: 93px;
}

.page-74 {
  font-size: 94px;
}

.page-75 {
  font-size: 95px;
}

.page-76 {
  font-size: 96px;
}

.page-77 {
  font-size: 97px;
}

.page-78 {
  font-size: 98px;
}

.page-79 {
  font-size: 99px;
}

.page-80 {
  font-size: 100px;
}

.page-81 {
  font-size: 101px;
}

.page-82 {
  font-size: 102px;
}

.page-83 {
  font-size: 103px;
}

.page-84 {
  font-size: 104px;
}

.page-85 {
  font-size: 105px;
}

.page-86 {
  font-size: 106px;
}

.page-87 {
  font-size: 107px;
}

.page-88 {
  font-size: 108px;
}

.page-89 {
  font-size: 109px;
}

.page-90 {
  font-size: 110px;
}

.page-91 {
  font-size: 111px;
}

.page-92 {
  font-size: 112px;
}

.page-93 {
  font-size: 113px;
}

.page-94 {
  font-size: 114px;
}

.page-95 {
  font-size: 115px;
}

.page-96 {
  font-size: 116px;
}

.page-97 {
  font-size: 117px;
}

.page-98 {
  font-size: 118px;
}

.page-99 {
  font-size: 119px;
}

.header {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
/*# sourceMappingURL=main.css.map */