// Import Color
@use "sass:color";
// Import Mixins
@import "../scss/helpers/mixins";

h1 {
    background-color: #000;
    color: #fff;
    @include opacity(0.4);
    @include transition(all 0.5s ease-in-out);
    // color: color.mix(red, blue);
    // color: color.mix(#f00, #00f);
    color: color.mix(#ff0000, #0000ff);
}